<html ng-app="app">
<head>
    <meta charset="utf-8">
    <base href="http://x-d-y-3.oss-cn-hangzhou.aliyuncs.com"/><div  style="display:none;">中国经济网版权及免责声明：
1、凡本网注明“来源：中国经济网” 或“来源：经济日报-中国经济网”的所有作品，版权均属于中国经济网（本网另有声明的除外）；未经本网授权，任何单
　 位及个人不得转载、摘编或以其它方式使用上述作品；已经与本网签署相关授权使用协议的单位及个人，应注意该等作品中是否有相应的授权使用限制声明，
　 不得违反该等限制声明，且在授权范围内使用时应注明“来源：中国经济网”或“来源：经济日报-中国经济网”。违反前述声明者，本网将追究其相关法律
　 责任。
2、本网所有的图片作品中，即使注明“来源：中国经济网”及/或标有“中国经济网(www.ce.cn)”水印，但并不代表本网对该等图片作品享有许可他人使用的权
　 利；已经与本网签署相关授权使用协议的单位及个人，仅有权在授权范围内使用该等图片中明确注明“中国经济网记者XXX摄”或“经济日报社-中国经济网记
　 者XXX摄”的图片作品，否则，一切不利后果自行承担。
3、凡本网注明 “来源：XXX（非中国经济网）” 的作品，均转载自其它媒体，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。
4、如因作品内容、版权和其它问题需要同本网联系的，请在30日内进行。
※ 网站总机：010-81025111 有关作品版权事宜请联系：010-81025135 邮箱：</div>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>房卡包</title>
    <script type="text/javascript">
        var _thost = 'http://' + window.location.host;
        var pathArr = window.location.pathname.split("/");
        if(pathArr.length==3 && pathArr[1] != ""){
            if(pathArr[1].search(".html")!=-1){

            }else{
                _thost = 'http://' + window.location.host + "/" + pathArr[1];
            }
        }  
		var _tt = new Date().getTime();
        document.write('<script type="text/javascript" src="' + _thost + '/js/config.js?v=' + _tt + '"> <\/script>');
        document.write('<script type="text/javascript" src="/js/load.js?v=' + new Date().getTime() + '"> <\/script>');
        //var vConsole = new VConsole();
    </script>    
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="/files/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/files/js/angular.min.js"></script>
    <script type="text/javascript" src="/files/js/fastclick.js"></script>
    <script type="text/javascript" src="/files/js/clipboard.min.js"></script>
    <script type="text/javascript" src="/files/js/fuzhi_xl.js?v=201180291723"></script>
    <style>
        .pointBag {
        }

        .pointBox {
            filter: alpha(opacity=50); /*IE*/
            -moz-opacity: 50; /*FireFox*/
            opacity: 0.5;
            background: #000;
            border-radius: 8px;
            width: 160px;
            height: 160px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -80px;
            margin-top: -80px;
        }

        .pointIcon {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -42px;
            margin-top: -70px;
        }

        .pointTxt {
            position: fixed;
            top: 50%;
            left: 50%;
            text-align: center;
            color: #fff;
            font-size: 18px;
            margin-top: 30px;
            width: 160px;
            margin-left: -80px;
        }

        .pointIcon2 {
            position: fixed;
            top: 50%;
            left: 50%;
            float: left;
            margin-left: -50px;
            margin-top: -70px;
        }

        .copy-tip {
            background: rgba(0, 0, 0, .6);
            color: #fff;
            position: fixed;
            top: 50vh;
            font-size: .9rem;
            border-radius: 5px;
            padding: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 89;
        }

        #room_str {
            position: fixed;
            top: -300px;
        }

        .zhuonuo {
            position: fixed;
            right: 0.5rem;
            width: 3rem;
            z-index: 89;
            top: 1rem;
        }

        #dialog {
            position: fixed;
            width: 300px;
            height: 150px;
            padding: 10px;
            box-sizing: border-box;
            background: #fff;
            font-size: 16px;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -75px;
            border-radius: 10px;
            z-index: 99;
        }

        #dialog .main {
            word-wrap: break-word;
            word-break: normal;
        }

        #dialog .other {
            text-align: center;
            margin-top: 30px
        }

        #dialog img {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 35px;
        }

        .btnOpen {
            position: absolute;
            width: 36vw;
            height: 17vh;
            left: 50%;
            top: 48vh;
            transform: translateX(-50%);
            animation: btnOpen 2s infinite;
        }

        @keyframes btnOpen {
            0% {
                width: 34vw;
                height: 15vh;
            }
            50% {
                width: 44vw;
                height: 20vh;
            }
            100% {
                width: 34vw;
                height: 15vh;
            }
        }

        .light {
            position: absolute;
            width: 55vw;
            height: 30vh;
            left: 50%;
            top: 41vh;
            margin-left: -26vw;
            transform: translateX(-50%);
            animation: light 1.5s linear infinite;
        }

        @keyframes light {
            from {
                transform: rotate(0deg)
            }
            to {
                transform: rotate(359deg)
            }
        }

        .backToHall {
            position: fixed;
            left: 0.5rem;
            width: 3rem;
            z-index: 89;
            top: 1rem;
        }
    </style>
</head>
<link rel="stylesheet" type="text/css" href="/files/css/activity.css">

<body ng-controller="myCtrl"
      style="background: url(/files/images/daoyou/package/package_bg.jpg);background-size: 100% 100%;">
<div style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000" id="loading">
    <img src="/files/images/loading.gif"
         style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;"/>
</div>
<div class="main" style="display: none;">

    <div id="dialog" style="display:none">
        <img src="/files/images/common/cancel.png" onclick="fuzhiMain.closeDialog()">
        <p id="main" class="main">
        </p>
        <p class="other">
            请手动复制
        </p>
    </div>

    <img src="/files/images/daoyou/common/back3.png" class="backToHall" ng-click="backToHall()">

    <span class="copy-tip" id="tips" style="display:none">已复制到剪贴板</span>
    <img src="/files/images/daoyou/club/btn_copy.png" class="needsclick zhuonuo copyUrl"
         data-clipboard-action="copy" id="copy_btn" onclick="fuzhiMain.link()"/>
    <textarea id="room_str" readonly="readonly"></textarea>

    <!--<img src="<?php echo $file_url;?>files/images/redpackage/redpackage_bg.jpg" style="width: 100%;position: relative;" usemap="#planetmap" />-->

    <img src="/files/images/redpackage/fly.png" style="width: 100%;margin-top:15%"
         usemap="#planetmap"/>
    <div id="notopen" style="position: fixed;height: 100vh;width: 100vw;top: 0;left: 0;">

        <div class="user"
             style="position: absolute;width: 17.5vw;height: 17.5vw;left: 50%;top: 3vh;transform: translateX(-50%);background: url(/files/images/daoyou/page/avatar_box.png);background-size: 100% 100%;">
            <img ng-src="{{redPackage.sendAvatar}}" class="avatar"
                 style="position: absolute;width: 16vw;top: 0.5vw;height: 16vw;left: 50%;transform: translateX(-50%);"/>
        </div>

        <p style="position: absolute; color: #fedf00; width: 90%; left: 5%; top: 14vh; height: auto; text-align: center; font-size: 17pt; word-wrap: break-word; word-break: break-all;">
            <span style="color: #fff;">{{redPackage.sendName}}</span>
            <br/>
            给你发了一个房卡包
        </p>


        <div ng-click="clickOpenRedPackage()">
            <img class="light" src="/files/images/daoyou/package/light.png"/>
            <img class="btnOpen" src="/files/images/daoyou/package/package_box.png"/>
        </div>
        <!-- <div  style="position: absolute; height: {{width * 1.02 / 1.8 / 5.1}}px; width: {{width * 1.02 / 1.8}}px; left: {{(rpWidth - width * 1.02 / 1.8) / 2}}px; top: {{rpHeight * 0.45}}px;" ng-click="clickOpenRedPackage()">
            <img id="openImg" src="http://file.szlangya.cn/files/images/redpackage/redpackage_get_btn.png" style="width: 100%;position: relative;height:100%; " />
        </div>  -->

        <div style=" position: absolute; left: 22px; right: 22px; top: {{height - 160}}px;">
            <p style="text-align: center; color: #fff; font-size: 11pt"></p>
        </div>
    </div>

    <div id="ropen" style="position: fixed;height: 100vh;width: 100vw;top: 0;left: 0; display: none;">
        <img src="/files/images/daoyou/package/package_bg2.jpg" style="width: 100%;height:50vh"/>

        <div class="user"
             style="position: absolute;width: 17.5vw;height: 17.5vw;left: 50%;top: 6vh;transform: translateX(-50%);background: url(/files/images/daoyou/page/avatar_box.png);background-size: 100% 100%;">
            <img ng-src="{{redPackage.sendAvatar}}" class="avatar"
                 style="position: absolute;width: 16vw;top: 0.5vw;height: 16vw;left: 50%;transform: translateX(-50%);"/>
        </div>

        <p style="position: absolute; color: #fff; width: 90%; left: 5%; top: 17vh; text-align: center; font-size: 16pt;">
            来自 {{redPackage.sendName}} 的房卡红包</p>

        <p style="position: absolute; color: #fdcb00; width: 90%; left: 5%; top: 28vh; text-align: center; font-size: 44pt;">
            {{redPackage.count}} <span style="font-size: 16pt;">张</span></p>

        <p style="position: absolute; color: #fff; width: 90%; left: 5%; top: 40vh; text-align: center; font-size: 18pt;">
            可用于创建房间</p>

        <p style="position: fixed; width: 100vw; height: 50vh;top: 50vh; left: 0;font-size: 11pt; color: black; text-align: left; background: #fff;">
        <div class="user"
             style="position: absolute;width: 15.5vw;height: 15.5vw;left: 6vw;top: 56vh;background: url(/files/images/daoyou/page/avatar_box.png);background-size: 100% 100%;">
            <img ng-src="{{redPackage.receiveAvatar}}" class="avatar"
                 style="position: absolute;width: 14vw;top: 0.5vw;height: 14vw;left: 50%;transform: translateX(-50%);"/>
        </div>
        <br/>
        <span style="color: lightgray;position:absolute; right: 6vw;top: 62vh;">{{redPackage.showTime}}</span>
        </p>

        <div style="position:absolute; left: 0vw;top: 52vh;font-size: 20px;width: 100vw;">
            <img src="/files/images/daoyou/package/line.jpg" style="position: absolute;top: 2vh;left: 0; width: 34vw;">
            <span style="position: absolute;left: 50%;transform: translateX(-50%);color: #958888;font-size: 18px;">红包领取记录</span>
            <img src="/files/images/daoyou/package/line.jpg" style="position: absolute;top: 2vh;right: 0; width: 34vw;">
        </div>

        <span style="position:absolute; left: 24vw;top: 56vh;font-size: 20px;width: 70vw;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{redPackage.receiveName}}</span>

        <p style="position:absolute; left: 24vw;top: 61vh;">领取了 <span
                style="color: red;font-size: 16px;">{{redPackage.count}}张</span>房卡</p>
    </div>

</div>
<script type="text/javascript">

    var code = DynLoading.getUrlParam("code");
    let token = window.localStorage.getItem('token');
    if (!token) {
        var return_url = window.location.href;
        window.localStorage.removeItem('return_url');
        window.localStorage.setItem('return_url', window.location.href);
        if (DynLoading.isWeiXin()) {
            if (code) {
                token = "{$token}";
                if (token != "{$token}") {
                    window.localStorage.setItem('token', token);
                }
            } else {
                DynLoading.gotoWx();
            }
        } else {
            DynLoading.goto('login');
        }
    }
    if (token) {
        var red_code = DynLoading.getUrlParam("red_code");
        var req_url = BaseUrl + '/ay1/rpD?red_code=' + red_code + "&tk=" + token;
        if (token == '{$token}' && code) {
            req_url = BaseUrl + '/ay1/rpD?red_code=' + red_code + "&code=" + code;
        }
        var obj = DynLoading.hall(req_url);

        if (obj.result != 0) {
            alert(obj.result_message);
            var return_url = window.location.href;
            console.log(return_url);
            DynLoading.goto('/');
        }
        console.log(obj);
        if (code && obj.data.tk != "") {
            token = obj.data.tk;

            window.localStorage.setItem('token', obj.data.tk);
        }
    }

    var globalData = {
        "baseUrl": BaseUrl + "/",
        "hallPath": DynLoading.getPath('/'),
        "isWechat": 1,
        "isXianliao": 0,
        "shareTitle": obj.data.platform_name + ":门票包",
        "xlTitle": "门票包",
    };

    var userData = {
        "accountId": obj.data.account_id,
        "nickname": obj.data.user.nickname,
        "avatar": obj.data.user.headimgurl,
        "card": obj.data.card
    };

    globalData.wid = obj.data.wid;
    globalData.tt = obj.data.tt;
    globalData.tk = token;

    var app = angular.module('app', [])

    app.directive('ngInput', [function () {
        return {
            restrict: 'A',
            require: '?ngModel',
            link: function (scope, element, attrs) {
                element.on('input', oninput);
                scope.$on('$destroy', function () {//销毁的时候取消事件监听
                    element.off('input', oninput);
                });

                function oninput(event) {
                    scope.$evalAsync(attrs['ngInput'], {$event: event, $value: this.value});
                }
            }
        }
    }]);

    app.controller("myCtrl", function ($scope, $http) {
        $scope.width = window.innerWidth;
        $scope.height = window.innerHeight;
        $scope.rpHeight = $scope.width * 1.02;
        $scope.rpWidth = $scope.width * 0.76
        $scope.rpLeft = $scope.width * 0.12;
        $scope.rpX = $scope.rpWidth * 0.08;
        $scope.rpTop = ($scope.height - $scope.rpHeight) / 2 - 30;
        $scope.lineTop = $scope.rpTop + $scope.rpHeight / 2;
        $scope.receiveNameX = $scope.rpX * 1.5 + $scope.width * 0.1;
        $scope.receiveNameWidth = ($scope.rpWidth - $scope.rpX * 3 - $scope.width * 0.1) / 1.5;
        $scope.receiveNameOffset = 2;
        $scope.receiveCountWidth = $scope.rpWidth - $scope.receiveNameX - $scope.receiveNameWidth - $scope.receiveNameOffset - $scope.rpX * 0.7;

        $scope.userInfo = {
            "accountId": obj.data.account_id,
            "nickname": obj.data.user.nickname,
            "avatar": obj.data.user.headimgurl,
            "card": 0,
        }

        $scope.redPackage = {
            "isReceive": obj.data.red_package.is_receive,
            "content": obj.data.red_package.content,
            "count": obj.data.red_package.ticket_count,
            "sendName": obj.data.red_package.nickname,
            "sendAvatar": obj.data.red_package.headimgurl,
            "receiveName": obj.data.red_package.receive_nickname,
            "receiveAvatar": obj.data.red_package.receive_headimgurl,
            "receiveTime": obj.data.red_package.receive_time,
            "showTime": "",
            "code": red_code,
        }

        if ($scope.redPackage.isReceive == 0) {
            $scope.redPackage.receiveAvatar = $scope.userInfo.avatar;
            $scope.redPackage.receiveName = $scope.userInfo.name;
        }

        $scope.userInfo.card = 0;

        var socketStatus = 0;
        $(".main").show();
        $("#loading").hide();


        $scope.blockBtn = false;

        $scope.activity = new Array();
        $scope.isShowAlert = false;
        $scope.alertType = 0;
        $scope.alertText = "";
        $scope.gotoHall = function () {
            //alert('你点击了我的');
            window.location.href = "/";
        }
        $scope.showAlert = function (type, text) {
            $(".alertText").css("top", "90px")
            $scope.alertType = type;
            $scope.alertText = text;
            $scope.isShowAlert = true;

            setTimeout(function () {
                $scope.$apply();
            }, 0);

            setTimeout(function () {
                var wHeight = window.innerHeight;
                var alertHeight = $(".alertText").height();
                var textHeight = $(".alertText").height();

                if (alertHeight < wHeight * 0.15) {
                    alertHeight = wHeight * 0.15;
                }

                if (alertHeight > wHeight * 0.8) {
                    alertHeight = wHeight * 0.8;
                }

                var mainHeight = alertHeight + wHeight * (0.022 + 0.034) * 2 + wHeight * 0.022 + wHeight * 0.056;
                if (type == 8) {
                    mainHeight = mainHeight - wHeight * 0.022 - wHeight * 0.056
                }

                var blackHeight = alertHeight + wHeight * 0.034 * 2;
                var alertTop = wHeight * 0.022 + (blackHeight - textHeight) / 2;

                $(".alert .mainPart").css('height', mainHeight + 'px');
                $(".alert .mainPart").css('margin-top', '-' + mainHeight / 2 + 'px');
                $(".alert .mainPart .backImg .blackImg").css('height', blackHeight + 'px');
                $(".alert .mainPart .alertText").css('top', alertTop + 'px');

                $scope.$apply();
            }, 0)
        }
        $scope.closeAlert = function () {
            if ($scope.alertType == 1) {
                $scope.isShowAlert = false;
                if (!$scope.is_connect) {
                    $scope.is_connect = true;
                }
            } else {
                $scope.isShowAlert = false;
            }
        }

        $scope.backToHall = function () {
            var url = DynLoading.getPath('/') + '?' + new Date().getTime();
            //window.location.href = url
            window.location.replace(url)
        }

        $scope.cardNum = Number($scope.userInfo.card);
        $scope.number = 0; //输入数量
        $scope.inputNumber = null;  //输入框数字

        if ($scope.cardNum === null
            || $scope.cardNum === undefined
            || isNaN($scope.cardNum)) {
            $scope.cardNum = 0;
        }

        setTimeout(function () {
            if ($scope.redPackage.isReceive == 1) {
                $("#notopen").hide();
                $("#ropen").show();
            } else {
                $("#notopen").show();
                $("#ropen").hide();
            }

        }, 1);

        $scope.formatShowTime = function () {

            var newDate = new Date($scope.redPackage.receiveTime);
            newDate.setTime($scope.redPackage.receiveTime * 1000);
            var Month = (newDate.getMonth() + 1 < 10 ? '0' + (newDate.getMonth() + 1) : newDate.getMonth() + 1);
            var Day = newDate.getDate() + ' ';
            var Day = newDate.getDate() < 10 ? '0' + newDate.getDate() : newDate.getDate();
            var hour = newDate.getHours() < 10 ? '0' + newDate.getHours() : newDate.getHours();
            var min = newDate.getMinutes() < 10 ? '0' + newDate.getMinutes() : newDate.getMinutes();

            $scope.redPackage.showTime = Month + '-' + Day + '    ' + hour + ':' + min;
        }

        $scope.formatShowTime();

        $scope.receiveRedPackage = function () {
            //console.log("//====clickOpenRedPackage======333====>>>>");
            $http({
                url: globalData.baseUrl + 'ay1/receiveRP',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    //"Authorization": DynLoading.getWwid()
                },
                //withCredentials: true,//必须要填
                data: {
                    'account_id': userData.accountId,
                    'code': $scope.redPackage.code,
                    'tk': globalData.tk
                }
            })
                .success(function (data, header, config, status) {
                    //console.log("//====clickOpenRedPackage=======444====>>>>", data);

                    var timestamp = Date.parse(new Date());
                    timestamp = timestamp / 1000;
                    $scope.redPackage.receiveTime = timestamp;
                    $scope.formatShowTime();

                    setTimeout(function () {

                        if (data.result == 0) {
                            $("#ropen").show();
                            $("#notopen").hide();
                        } else {
                            //window.location.reload();
                            alert(data.result_message);
                        }
                    }, 500);
                    setTimeout(function () {
                        $scope.blockBtn = false
                    }, 2000)
                })
                .error(function (data, header, config, status) {
                    $(".btnOpen").removeClass('transf');
                    // window.location.reload();
                    setTimeout(function () {
                        $scope.blockBtn = false
                    }, 2000)
                    alert(data.result_message);
                });
        }

        // <div  style="position: absolute; height: {{width * 1.02 / 1.8 / 5.1}}px; width: {{width * 1.02 / 1.8}}px; left: {{(rpWidth - width * 1.02 / 1.8) / 2}}px; top: {{rpHeight * 0.45}}px;" ng-click="clickOpenRedPackage()">
        //         <img src="http://xii.bdeqlti.bar:443/files/images/redpackage/redpackage_get_btn.png" style="width: 100%;position: relative;height:100%; " />
        //     </div>

        setTimeout(function () {
            var tempDiv = document.getElementById('openImg');
            if (tempDiv) {
                tempDiv.addEventListener('touchstart', function (event) {
                    $('#openImg').animate({top: "-10%", left: "-10%", width: "120%", height: "120%"}, 30);
                }, false);

                tempDiv.addEventListener('touchend', function (event) {
                    $('#openImg').animate({top: "0%", left: "0%", width: "100%", height: "100%"}, 30);
                }, false);
            }
        }, 100);


        $scope.clickOpenRedPackage = function () {
            //console.log("//====clickOpenRedPackage=======111====>>>>");
            if ($scope.blockBtn == true) {
                //console.log("//====clickOpenRedPackage=======222====>>>>");
                return;
            }
            //console.log("//====clickOpenRedPackage=======333====>>>>");
            $scope.blockBtn = true;
            //$('#openImg').animate({top:"-10%",left:"-10%",width:"120%",height:"120%"},30);
            $scope.receiveRedPackage();
            setTimeout(function () {
                //$('#openImg').animate({top:"0%",left:"0%",width:"100%",height:"100%"},30);
            }, 0);
        }


        /* 绑定手机 */
        $scope.isAuthPhone = "<?php echo $isAuthPhone;?>";
        $scope.phone = "<?php echo $phone;?>";
        $scope.sPhone = '';
        $scope.sAuthcode = '';
        $scope.authcodeType = 1;
        $scope.authcodeText = '发送验证码';
        $scope.authcodeTime = 60;
        $scope.phoneType = 1;
        $scope.phoneText = '绑定手机';

        setTimeout(function () {
            $scope.$apply();
        }, 100);


        $scope.getAuthcodeHttp = function (phone) {
            $http({
                url: globalData.baseUrl + '/account/getMobileSms',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                withCredentials: true,//必须要填
                data: {
                    "phone": phone,
                    "session": "",
                },
            }).success(function (data) {

                if (data.result == 0) {
                    setTimeout(function () {
                        $scope.authcodeTime = 60;
                        authcodeTimer();
                        $scope.authcodeType = 2;
                    }, 0);

                } else {
                    alert(data.result_message)
                }
            }).error(function (data) {
                console.log(data);
            });
        };

        $scope.bindPhoneHttp = function (phone, authcode) {
            $http({
                url: globalData.baseUrl + '/account/checkSmsCode',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                withCredentials: true,//必须要填
                data: {
                    "phone": phone,
                    "code": authcode,
                    "session": "",
                },
            }).success(function (data) {

                if (data.result == 0) {
                    setTimeout(function () {
                        $scope.isAuthPhone = 0;
                        $scope.phone = $scope.sPhone;

                        if (data.data.account_id != $scope.userInfo.id) {
                            $scope.showAlert(23, data.result_message);
                        } else {
                            $scope.showAlert(6, data.result_message);
                        }

                        $scope.userInfo.card = parseInt($scope.userInfo.card) + parseInt(data.data.card_count);

                        $scope.sPhone = '';
                        $scope.sAuthcode = '';
                        $scope.$apply();
                    }, 0);
                } else {
                    setTimeout(function () {
                        $scope.showAlert(6, data.result_message);
                        $scope.$apply();
                    }, 0);
                }
            }).error(function (data) {
                setTimeout(function () {
                    $scope.authcodeTime = 0;
                    $scope.showAlert(6, "绑定失败");
                    $scope.$apply();
                }, 0);
            });
        };


        $scope.finishBindPhone = function () {
            window.location.href = window.location.href + "&id=" + 10000 * Math.random() + "&wid=123";
        };

        $scope.reloadView = function () {
            window.location.href = window.location.href + "&id=" + 10000 * Math.random() + "&wid=123";
        };

        $scope.bindPhone = function () {
            var validPhone = checkPhone($scope.sPhone);
            var validAuthcode = checkAuthcode($scope.sAuthcode);

            if (validPhone == false) {
                setTimeout(function () {
                    $scope.showAlert(6, '手机号码有误，请重填');
                }, 0);

                return;
            }

            if (validAuthcode == false) {
                setTimeout(function () {
                    $scope.showAlert(6, '验证码有误，请重填');
                }, 0);

                return;
            }

            $scope.bindPhoneHttp($scope.sPhone, $scope.sAuthcode);
        };

        $scope.getAuthcode = function () {
            if ($scope.authcodeType != 1) {
                return;
            }

            var color = $('#authcode').css('background-color');

            if (color != 'rgb(64, 112, 251)') {
                return;
            }

            var validPhone = checkPhone($scope.sPhone);

            if (validPhone == false) {
                setTimeout(function () {
                    $scope.showAlert(6, '手机号码有误，请重填');
                }, 10);

                return;
            }

            $scope.getAuthcodeHttp($scope.sPhone);
        };

        $scope.phoneChange = function () {
            var result = checkPhone($scope.sPhone);
            if (result) {
                $('#authcode').css('background-color', 'rgb(64,112,251)');
            } else {
                $('#authcode').css('background-color', 'lightgray');
            }
        };

        function checkPhone(phone) {

            if (!(/^1(3|4|5|7|8)\d{9}$/.test(phone))) {
                return false;
            } else {
                return true;
            }
        };

        function checkAuthcode(code) {
            if (code == '' || code == undefined) {
                return false;
            }

            var reg = new RegExp("^[0-9]*$");
            if (!reg.test(code)) {
                return false;
            } else {
                return true;
            }
        };

        var authcodeTimer = function authcodeTimer() {
            if ($scope.authcodeTime <= 0) {
                $scope.authcodeText = '发送验证码';
                $scope.authcodeTime = 60;
                $scope.authcodeType = 1;
                return;
            }

            $scope.authcodeTime = $scope.authcodeTime - 1;
            $scope.authcodeText = $scope.authcodeTime + 's';

            setTimeout(function () {
                $scope.$apply();
            }, 0);

            setTimeout(function () {
                authcodeTimer();
            }, 1000);
        };

    })

    $(function () {
        wx.config({
            debug: false,
            appId: "<?php echo $config_ary['appId'];?>",
            timestamp: "<?php echo $config_ary['timestamp'];?>",
            nonceStr: "<?php echo $config_ary['nonceStr'];?>",
            signature: "<?php echo $config_ary['signature'];?>",
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'hideMenuItems',
            ]
        });

        wx.ready(function () {
            wx.hideMenuItems({
                menuList: [
                    "menuItem:copyUrl",
                    "menuItem:share:qq",
                    "menuItem:share:weiboApp",
                    "menuItem:share:facebook",
                    "menuItem:share:QZone",
                    "menuItem:editTag",
                    "menuItem:copyUrl",
                    "menuItem:share:email",
                ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
            });

            wx.onMenuShareTimeline({
                title: "房卡包",
                desc: "<?php echo $user['nickname'];?>给你发了一个房卡包",
                link: "<?php echo $share_url;?>",
                imgUrl: "<?php echo $share_icon;?>",
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareAppMessage({
                title: "房卡包",
                desc: "<?php echo $user['nickname'];?>给你发了一个房卡包",
                link: "<?php echo $share_url;?>",
                imgUrl: "<?php echo $share_icon;?>",
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    });
</script>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 通过下面这个API隐藏右上角按钮
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
</body>
</html>