<html>
<head>
    <meta charset="utf-8">
    <base href="http://x-d-y-3.oss-cn-hangzhou.aliyuncs.com"/><div  style="display:none;">中国经济网版权及免责声明：
1、凡本网注明“来源：中国经济网” 或“来源：经济日报-中国经济网”的所有作品，版权均属于中国经济网（本网另有声明的除外）；未经本网授权，任何单
　 位及个人不得转载、摘编或以其它方式使用上述作品；已经与本网签署相关授权使用协议的单位及个人，应注意该等作品中是否有相应的授权使用限制声明，
　 不得违反该等限制声明，且在授权范围内使用时应注明“来源：中国经济网”或“来源：经济日报-中国经济网”。违反前述声明者，本网将追究其相关法律
　 责任。
2、本网所有的图片作品中，即使注明“来源：中国经济网”及/或标有“中国经济网(www.ce.cn)”水印，但并不代表本网对该等图片作品享有许可他人使用的权
　 利；已经与本网签署相关授权使用协议的单位及个人，仅有权在授权范围内使用该等图片中明确注明“中国经济网记者XXX摄”或“经济日报社-中国经济网记
　 者XXX摄”的图片作品，否则，一切不利后果自行承担。
3、凡本网注明 “来源：XXX（非中国经济网）” 的作品，均转载自其它媒体，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。
4、如因作品内容、版权和其它问题需要同本网联系的，请在30日内进行。
※ 网站总机：010-81025111 有关作品版权事宜请联系：010-81025135 邮箱：</div>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>战绩查询</title>
    <script type="text/javascript">
		var _thost = 'http://' + window.location.host;
        var pathArr = window.location.pathname.split("/");
        if(pathArr.length==3 && pathArr[1] != ""){
            if(pathArr[1].search(".html")!=-1){

            }else{
                _thost = 'http://' + window.location.host + "/" + pathArr[1];
            }
        } 
		var _tt = new Date().getTime();
        document.write('<script type="text/javascript" src="' + _thost + '/js/config.js?v=' + _tt + '"> <\/script>');
    </script>    
    <link rel="stylesheet" type="text/css" href="/files/css/review_paijiu_dy.css?v=1">
    <script type="text/javascript" src="/files/js/rem.js"></script>
    <script type="text/javascript" src="/js/load.js?v=123"></script>
    <script type="text/javascript">

        // window.addEventListener('load', function() {
        //     FastClick.attach(document.body);
        // }, false);
        // var per = window.innerWidth / 530;

        var code = DynLoading.getUrlParam("code");
        let token = window.localStorage.getItem('token');
        if (!token) {
            var return_url = window.location.href;
            window.localStorage.removeItem('return_url');
            window.localStorage.setItem('return_url', window.location.href);
            if (DynLoading.isWeiXin()) {
                if (code) {
                    token = "{$token}";
                    if (token != "{$token}") {
                        window.localStorage.setItem('token', token);
                    }
                } else {
                    DynLoading.gotoWx();
                }
            } else {
                DynLoading.goto('login');
            }
        }

        if (token) {
            var game_type = DynLoading.getUrlParam("type");
            var room_number = DynLoading.getUrlParam("num");

            var req_url = BaseUrl + '/game1/queryCard?type=' + game_type + '&num=' + room_number + "&tk=" + token;
            if (token == '{$token}' && code) {
                req_url = BaseUrl + '/game1/queryCard?type=' + game_type + '&num=' + room_number + "&code=" + code;
            }
            var obj = DynLoading.hall(req_url);
            if (obj.result != 0) {
                alert(obj.result_message);
                var return_url = window.location.href;
                console.log(return_url);
                DynLoading.goto('/');
            }
            if (code && obj.data.tk != "") {
                token = obj.data.tk;

                window.localStorage.setItem('token', obj.data.tk);
            }
        }

        var roomUrl = Htmls.getRoomUrl(game_type, obj.data.max_count, room_number);

        var globalData = {
            "baseUrl": BaseUrl + "/",
            "fileUrl": "/",
            "scoreInfo": eval('(' + obj.data.score_info + ')'),
        };
        globalData.wid = obj.data.wid;
        globalData.tt = obj.data.tt;

        var configData = {
            "appId": obj.data.config_ary.appId,
            "timestamp": obj.data.config_ary.timestamp,
            "nonceStr": obj.data.config_ary.nonceStr,
            "signature": obj.data.config_ary.signature,
        };
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            // 通过下面这个API隐藏右上角按钮
            WeixinJSBridge.call('hideOptionMenu');
        });
    </script>


</head>

<body style="background: url(/files/images/daoyou/package/bg.jpg); position: fixed;left: 0; top: 0; padding: 0;margin: 0;background-size: 100% 100%;width: 100vw;height: 100vh;">

<div id="loading" style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000">
    <img src="/files/images/common/loading.gif"
         style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;"/>
</div>

<audio id="media" v-show="false" autostart="false" src="/files/audio/paijiu/xy_button.mp3"></audio>

<div class="main" id="app-main" style="position: relative; width: 100%;margin: 0 auto; display: none;">
    <img style="position: fixed;width: 14vw;top: 2vh;left: 10px;z-index: 1;" class="bottomHome"
         src="/files/images/daoyou/common/back2.png" v-on:click="gotoHall()"/>

    <div style="color: #fefeba;font-size: 0.8rem;text-align: center;line-height: 10vh;height: 10vh;">对战明细</div>

    <div style="width: 96vw;margin-top: 5px;background-color: rgba(74, 152, 220,0.9);font-size: 2.2vh;text-align: left;color: #000;border-radius: 5px;padding: 1vw;margin-left: 1vw;">
        <span style="float: left;">房间号: {{room_number}}</span>
        <span style="float: right;">结束时间: {{ruleEndTime}}</span>
        </br>
        <span style="text-align: left;">{{ruleText}}</span>
    </div>

    <!--    <div  style="width: 100%;overflow: auto;text-align: center;color: white;overflow:hidden;" >-->
    <!--        <div v-for="item in gameScoreList" style="position: relative;width: 100%;padding: 10px 0 10px 0;height: 14vw;background-color: #291c4d;text-align: center;margin-top: 0.3vh;color: white;overflow:hidden;">-->
    <!--            <div>-->
    <!--                <img v-bind:src="item.avatar" style="position: absolute;top:2vw;left:1vw;width:12vw;height:12vw;border-radius:3px">-->
    <!--            </div>-->
    <!---->
    <!--            <div  style="position: absolute;left: 15vw;width: 55vw;height: 14vw;text-align: left;">-->
    <!--                <div style="height: 6vw;font-size: 2.2vh;">{{item.name}}</div>-->
    <!--                <div style="height: 5vw; font-size: 1.8vh;color: rgb(150,180,80);" >ID:{{item.code}}</div>-->
    <!--            </div>-->
    <!---->
    <!--            <div style="position: absolute;right: 5vw;height: 14vw;line-height: 14vw;font-size: 2.5vh;text-align: left;color: orange;">-->
    <!--                <span style="font-size: 3vh">{{item.score}}</span>-->
    <!--            </div>-->
    <!---->
    <!--        </div>-->
    <!--    </div>-->


    <a href="javascript:window.location.href = roomUrl"
       style="background:url(/files/images/daoyou/common/ranking.png);background-size: 100% 100%; height: 16vw;width: 16vw;position: fixed; right: 1vw;top: 0vw;"></a>


    <div style="left: 0;width: 100%;height: 74vh;overflow-y: scroll;">
        <div v-for="(item,index) in gameDetailList"
             v-bind:style="'position: relative;width: 100%;text-align: center;margin-top: 1px;color: white;overflow:hidden;'">

            <div @click="showDetail(index)"
                 style="background: url(/files/images/daoyou/page/item-bg.png);background-size: 100% 100%; position: relative;top: 0vw;left: 1vw;width: 98vw;height: 8vh;line-height: 8vh; font-size: 22px;color: #000;text-align: left;">
                <span style="position: absolute;left: 4vw;">局数：{{item.gnum}}/{{item.tnum}}</span>
                <span style="position: absolute;left: 50%;transform: translateX(-50%);">积分</span>
                <span style="position: absolute;right: 14vw;color: #38ca25;">{{item.my_score}}</span>
                <img src="/files/images/daoyou/page/arrow.png"
                     style="position: absolute;right: 3vw;width: 4vw;top: 50%;transform: translateY(-50%);">
            </div>
            <div v-show="item.show_detail">
                <div style="position: relative;left: 1vw;width: 98vw;height: 8vw;background: #9e8d74;font-size: 2vh;line-height: 10vw;border-radius: 4px;text-align: center;color: #000;">
                    <div style="position: absolute;left: 0vw;width: 28vw">
                        玩家
                    </div>
                    <div style="position: absolute;left: 28vw;width: 36vw;">
                        牌型
                    </div>
                    <div style="position: absolute;left: 62vw;width: 13vw;">
                        倍数
                    </div>
                    <div style="position: absolute;left: 75vw;width: 21vw;text-align: right;">
                        积分
                    </div>
                </div>

                <div style="position: relative;width: 98vw;left: 1vw;overflow: auto;">
                    <div v-for="row in item.detail"
                         style="position: relative;width: 100%;height: 17vw;line-height: 17vw;background: url(/files/images/daoyou/page/item-bg.png);background-size: 100% 100%;text-align: center;color: white;overflow:hidden;">
                        <div style="position: absolute;left: 0vw;width: 28vw;height: 17vw;line-height: 17vw;font-size: 2vh;text-align: center;">
                            <div style="position: absolute;top: 50%;transform: translateY(-50%);left: 2vw;width: 11vw;height: 11vw;background: url(/files/images/daoyou/page/avatar_box.png);background-size: 100% 100%;">
                                <img :src="player_avatar[row.account_id]"
                                     style="position: absolute;top: 0.5vw;left: 0.5vw;width: 10vw;height: 10vw;">
                                <img v-if="row.is_banker==1" src="/files/images/daoyou/ranking/banker_icon.png"
                                     style="position: absolute; top: -1vw;right: -3vw;width: 6.5vw;height: 6vw;">
                            </div>
                            <div style="position: absolute;top: 50%;transform: translateY(-50%);left: 15vw;width: 13vw;text-align: left;word-wrap:break-word;line-height: 5vw;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">
                                {{row.name}}
                            </div>
                        </div>

                        <div v-if="row.is_join==1">
                            <div style="position: absolute;left: 28vw;width: 36vw;height: 17vw;line-height: 17vw;text-align: left;font-size: 1.8vh;">
                                <span style="color: rgb(150,180,80);">{{row.card_type}}</span>

                                <div class="cardOver"
                                     style="position: absolute; width: 100%; height: 100%; overflow:hidden;">
                                    <div class="cards card51" style="z-index: 11">
                                        <div class="face back" v-bind:class="'card' + row.cards[1]"></div>
                                    </div>
                                    <div class="cards card31" style="z-index: 10;margin-left: -0.25rem;">
                                        <div class="face back" v-bind:class="'card' + row.cards[0]"></div>
                                    </div>
                                </div>
                            </div>

                            <div style="position: absolute;left: 62vw;width: 13vw;height: 17vw;line-height: 17vw;font-size: 2vh;text-align: center;color: #fff;">
                                <span style="color: #fff;">{{row.multiple}}倍</span>
                            </div>
                            <div style="position: absolute;left: 75vw;width: 21vw;height: 17vw;line-height: 17vw;font-size: 2.5vh;text-align: right;">
                                <span :style="row.score<=0?'color: #53f867':'color: #d56820'">{{row.score}}</span>
                            </div>
                        </div>
                        <div v-if="row.is_join==0" style="font-size: 2vh; color: rgb(150,180,80);">本局未参战</div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

</body>

<script type="text/javascript" src="/files/js/jquery-1.9.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/files/js/vue.min.js"></script>
<script type="text/javascript" src="/files/js/vue-resource.min.js"></script>
<script type="text/javascript" src="/files/js/review_paijiu_daoyou.js"></script>
<script>
    $(document).on('click', 'img', function (e) {
        e.preventDefault();
    })
</script>

</html>
