<html>
<head>
    <meta charset="utf-8">
    <base href="http://x-d-y-3.oss-cn-hangzhou.aliyuncs.com"/><div  style="display:none;">中国经济网版权及免责声明：
1、凡本网注明“来源：中国经济网” 或“来源：经济日报-中国经济网”的所有作品，版权均属于中国经济网（本网另有声明的除外）；未经本网授权，任何单
　 位及个人不得转载、摘编或以其它方式使用上述作品；已经与本网签署相关授权使用协议的单位及个人，应注意该等作品中是否有相应的授权使用限制声明，
　 不得违反该等限制声明，且在授权范围内使用时应注明“来源：中国经济网”或“来源：经济日报-中国经济网”。违反前述声明者，本网将追究其相关法律
　 责任。
2、本网所有的图片作品中，即使注明“来源：中国经济网”及/或标有“中国经济网(www.ce.cn)”水印，但并不代表本网对该等图片作品享有许可他人使用的权
　 利；已经与本网签署相关授权使用协议的单位及个人，仅有权在授权范围内使用该等图片中明确注明“中国经济网记者XXX摄”或“经济日报社-中国经济网记
　 者XXX摄”的图片作品，否则，一切不利后果自行承担。
3、凡本网注明 “来源：XXX（非中国经济网）” 的作品，均转载自其它媒体，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。
4、如因作品内容、版权和其它问题需要同本网联系的，请在30日内进行。
※ 网站总机：010-81025111 有关作品版权事宜请联系：010-81025135 邮箱：</div>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>开房记录查询</title>
    <script type="text/javascript">
		var _thost = 'http://' + window.location.host;
        var pathArr = window.location.pathname.split("/");
        if(pathArr.length==3 && pathArr[1] != ""){
            if(pathArr[1].search(".html")!=-1){

            }else{
                _thost = 'http://' + window.location.host + "/" + pathArr[1];
            }
        } 
		var _tt = new Date().getTime();
        document.write('<script type="text/javascript" src="' + _thost + '/js/config.js?v=' + _tt + '"> <\/script>');
    </script>    
    <script type="text/javascript" src="/files/js/fastclick.js"></script>
    <script type="text/javascript" src="/files/js/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="/files/css/alert.css">
    <script type="text/javascript" src="/js/load.js?v=123"></script>

    <style type="text/css">
        .rowGame {
            position: relative;
            top: 0vw;
            margin-top: 0vw;
            left: 0;
            width: 100vw;
            height: 35vw;
            overflow: hidden;
        }

        .rowGame .item {
            position: absolute;
            width: 25vw;
            height: 33vw;
            text-align: center;
            color: #fff;
            opacity: 0.3
        }

        .rowGame .item img {
            position: absolute;
            top: 1.5vw;
            left: 1vw;
            width: 20vw;
            height: 25vw;
        }

        .rowGame .item .gamename {
            position: absolute;
            bottom: 1.5vw;
            width: 100%;
            text-align: center;
            font-size: 11pt;
        }

        .gameScoreTitle {
            position: relative;
            top: 0vw;
            margin-top: 0.5vw;
            left: 0;
            width: 100vw;
            height: 7vw;
            overflow: hidden;
        }

        .scoreRow {
            position: relative;
            top: 0vw;
            margin-top: 1vw;
        }

        .selectBorder {
            box-shadow: 0px 0px 4px 2px #e1ff3a;
        }

    </style>
    <script type="text/javascript">
        //
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

        var code = DynLoading.getUrlParam("code");
        let token = window.localStorage.getItem('token');
        if (!token) {
            var return_url = window.location.href;
            window.localStorage.removeItem('return_url');
            window.localStorage.setItem('return_url', window.location.href);
            if (DynLoading.isWeiXin()) {
                if (code) {
                    token = "{$token}";
                    if (token != "{$token}") {
                        window.localStorage.setItem('token', token);
                    }
                } else {
                    DynLoading.gotoWx();
                }
            } else {
                DynLoading.goto('login');
            }
        }
        if (token) {
            var req_url = BaseUrl + '/home1/index' + "?tk=" + token;
            if (token == '{$token}' && code) {
                req_url = BaseUrl + '/home1/index' + "?code=" + code;
            }
            var obj = DynLoading.hall(req_url);
            if (obj.result != 0) {
                alert(obj.result_message);
                var return_url = window.location.href;
                console.log(return_url);
                DynLoading.goto('/');
            }
            console.log(obj);
            if (code && obj.data.tk != "") {
                token = obj.data.tk;

                window.localStorage.setItem('token', obj.data.tk);
            }
        }

        var newNum = "";
        var per = window.innerWidth / 530;
        var globalData = {
            "baseUrl": BaseUrl + "/",
            "fileUrl": "/",
            "cfileUrl": "/",
            "gameList": [
                {"game_type": "1", "game_name": "拼十", "game_icon": "1.png"},
                {"game_type": "4", "game_name": "炸金花", "game_icon": "4.png"},
                {"game_type": "5", "game_name": "三公", "game_icon": "5.png"},
                {"game_type": "10", "game_name": "小天九", "game_icon": "10.png"},
                {"game_type": "17", "game_name": "超级三加一", "game_icon": "17.png"},
                {"game_type": "18", "game_name": "大天九", "game_icon": "18.png"},
                {"game_type": "43", "game_name": "至尊牛", "game_icon": "43.png"},
                {"game_type": "12", "game_name": "开船牛牛", "game_icon": "12.png"},
                {"game_type": "13", "game_name": "开船三公", "game_icon": "13.png"}
            ],
            "hallPath": DynLoading.getPath('/')
        };
        globalData.wid = obj.data.wid;
        globalData.tk = token;
        var userData = {
            "accountId": obj.data.account_id,
            "nickname": obj.data.user.nickname,
            "avatar": obj.data.user.headimgurl
        };
        var configData = {
            "appId": obj.data.config_ary.appId,
            "timestamp": obj.data.config_ary.timestamp,
            "nonceStr": obj.data.config_ary.noncestr,
            "signature": obj.data.config_ary.signature,
        };
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            // 通过下面这个API隐藏右上角按钮
            WeixinJSBridge.call('hideOptionMenu');
        });
    </script>
</head>

<body style="position: fixed; width: 100%;margin: 0 auto;background: url(/files/images/daoyou/package/bg.jpg);background-size: 100vw 100vh;">

<div id="loading" style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000">
    <img src="/files/images/common/loading.gif"
         style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;"/>
</div>
<div class="main" id="app-main" style="position: relative; width: 100%;margin: 0 auto; display: none;">
    <div class="box">

        <img style="position: fixed;width: 14vw;top: 2vh;left: 10px;z-index: 1;" class="bottomHome"
             src="/files/images/daoyou/common/back2.png" v-on:click="gotoHall()"/>

        <div style="color: #fefeba;font-size: 0.8rem;text-align: center;line-height: 10vh;height: 10vh;">开房记录</div>

        <div style="overflow-x: scroll;">
            <div style="width: 164vw;">
                <img @click="clickGame(item)" style="width: 16vw; margin: 2vw 1vw;"
                     :class="selectedGame==item.game_type?'selectBorder':''"
                     :src="'/files/images/daoyou/log/'+item.game_icon" v-for="item in globalData.gameList">
            </div>
        </div>
        <div class="scoreRow" style="overflow-y: scroll;height: 78vh;">
            <div class="backcolor"></div>
            <div style="position: relative;">
                <div v-for="(item, index) in gameScoreList"
                     style="position: relative;width: 100%;height: 12vh;line-height: 13vw;text-align: center;margin-top: 2px;color: white;overflow:hidden;background: url(/files/images/daoyou/page/item-bg.png);background-size: 100% 100%;"
                     v-on:click="clickScoreItem(item)">
                    <div style="background: url(/files/images/daoyou/page/avatar_box.png);background-size: 100% 100%;    width: 18vw;height: 18vw;position: relative;top: 50%;transform: translateY(-50%);left: 2vw;">
                        <img :src="'/files/images/daoyou/log/'+item.game_type+'.png'"
                             style="position: absolute;left: 1vw;top: 1vw;border-radius: 1vw;width: 16.5vw;height: 16.5vw;">
                    </div>
                    <div style="position: absolute;left: 23vw;font-size: 14pt;color: rgb(0, 0, 0);text-align: left;top: 1vw;">
                        房间号: {{item.number}}
                    </div>
                    <div style="    position: absolute;width: 100%;left: 23vw;font-size: 12pt;color: rgb(0, 0, 0);text-align: left;bottom: 1vw;">
                        {{item.time}}
                    </div>
                    <div style="color:rgb(76,205,59);position: absolute;top: 50%;transform: translateY(-50%);right: 10vw;font-size: 0.5rem;">
                        已结束
                    </div>
                    <img src="/files/images/daoyou/page/arrow.png"
                         style="position: absolute;right: 2vw;top: 50%;transform: translateY(-50%);width: 6vw;">
                </div>
                <div id="moretext" v-if="selectedGame"
                     style="position: relative;margin-top: 4px;color: #39d7ff;height: 13vw;text-align: center;line-height: 13vw;font-size: 2.2vh;"
                     v-on:click="clickMore(selectedGame)">
                    <div class="backcolor"></div>
                    点击加载更多
                </div>
            </div>
        </div>

    </div>

</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/files/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/files/js/bscroll.min.js"></script>
<script type="text/javascript" src="/files/js/vue.min.js"></script>
<script type="text/javascript" src="/files/js/vue-resource.min.js"></script>
<script type="text/javascript" src="/files/js/roomList_daoyou1.js?v=1"></script>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 通过下面这个API隐藏右上角按钮
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<script>
    $(document).on('click', 'img', function (e) {
        e.preventDefault();
    })
</script>

</html>
